.nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin-top:-4vw;
}



.nav li {
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Cinzel', serif;*/
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;  
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block; 
  transition:.3s; 
}
 
/*.nav a:hover {*/
  /*background-color: #002E62;*/
/*}*/
 
.nav a.active {
  /*background-color: #fff;*/
  /*color: #444;*/
  cursor: default;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  /*.nav li {*/
    /*display: inline-block;*/
    /*margin-right: -4px;*/
  /*}*/

  
.main{
/*background-repeat: repeat;*/
margin-right: auto;
margin-left: auto;
background-position: center;
/*position: fixed;*/
/**background-color: #F1f1f1;*/
}

@media screen and (min-width: 600px){
.landing{
	background-color: black;
	background-size: cover;
	text-align: 0 auto;
}
@media screen and (min-width: 600px){
.eagleLands{
	height: 700px;
	width:550px;
	margin-top:3vw;
	/*margin-left: 13vw;*/
	background-image: url('/pics/frontcover.jpg');
	background-size: cover; 
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3vw;

}

.header{
	font-size: 40px;
	margin-bottom: 60px;
	margin-top: 55px;
}

.home{
		margin-top: 4vw;
	background-position: center;
	background-size: cover;
	/*background-color: #002E62;*/
	/*background-color: #bdbdbd;*/
	background-color: #8da5c6;	
		/*background-image: url('/pics/chesh.jpg');*/

}


.homeHeader{
	font-size: 50px;
    /*text-shadow: 4px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
	font-family: 'Cinzel', serif;
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	/*border-bottom: 2px solid black;*/
	/*margin-top: 10vw;*/

}

.homeIntro{
		font-family: 'Cinzel', serif;
	    /*text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
		color: black;
		font-size: 25px;
		font-weight: bolder;
		text-align: center;
		/*border-bottom: 2px solid black;*/
}


@media screen and (min-width: 600px){
.col-lg-12{
	text-align: center;
	font-size: 90px;
	color:black;
	font-weight: bold;
	font-family: 'Cinzel', serif;
	border-radius: 5px;
	opacity: 1;
	/*margin-top: 4vw;*/
}
@media screen and (min-width: 600px){
#enter-button{
	margin-top:-9vw;
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
	

}
	

#enter-button:hover{
	opacity:.8;
}
.synopsis{
	font-size: 50px;
	font-family: 'Cinzel', serif;
	color: black;
	text-align: center;
	/*text-decoration: underline;
	border-bottom: 2px solid black;
	border-top: 2px solid black;

}

.synopsisBody{
	font-family: 'Cinzel', serif;
  /*text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
	color: black;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
}

@media screen and (min-width: 600px){
.opEdMain{
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;
background-color: #8da5c6;	

}
.opEdHeaders{
	/*font-size: 35px;*/
	font-family: 'Cinzel', serif;
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	border-bottom: 2px solid black;
	border-top: 2px solid black;


}
.opEdBody{
	/*margin-top: 3vw;*/
	font-family: 'Cinzel', serif;
  /*text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
	color: black;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}


@media screen and (min-width: 600px){
.ata{
	margin-top: 4vw;
	background-position: center;
	background-size: cover;
	/*background-color: #002E62;*/
	background-color: #8da5c6;
	/*background-color: #F1f1f1;*/
}	

.aboutTheAuthorTitle{
	font-size: 85px;
	font-family: 'Cinzel', serif;
	color: black;
	text-align: center;
	/*text-decoration: underline 10px;*/
	border-bottom: 2px solid black;
	margin-bottom: -10vw;
}

.authorName{
	font-family: 'Cinzel', serif;
	color: black;
	font-size: 40px;		
	font-weight: bold;
	text-align: center;
	margin-top:10vw;
}



.aboutBody{
	font-family: 'Cinzel', serif;
	color: black ;
	font-size: 25px;		
	font-weight: bolder;
	text-align: center;
	margin-bottom: -19vw;
}
.pic{
	height: 500px;
	width:300px;
	margin-top:20vw;
	/*margin-left: 13vw;*/
	background-image: url('/pics/chesh.jpg');
	background-size: cover; 	
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 15vw;*/

}

@media screen and (min-width: 600px){
.outtakesMain{
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;
background-color: #8da5c6;	

}

.outtakesTitle{
font-family: 'Cinzel', serif;
font-size: 35px;
color: black;
font-weight: bolder;
text-align: center;
border-bottom: 2px solid black;
border-top: 2px solid black;
}


.outtakes{
	font-family: 'Cinzel', serif;
  /*text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
	color: black;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.buy{
	text-align: center;
	
}



/*@media only screen and (max-width: 720px){
	*body{
		lack:inline-block;
	}
}
*/
